<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.app.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.template.app.entity.User">
		<result column="id" property="id" />
        <result column="salt" property="salt" />
        <result column="nick_name" property="nickName" />
        <result column="password" property="password" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, salt, nick_name, password, create_time, update_time, delete_flag
	</sql>
	<select id="search" resultType="com.template.app.dto.UserDto">
		SELECT
            id, salt, nick_name, password, create_time, update_time, delete_flag
		FROM user
		WHERE delete_flag = 0 AND nick_name LIKE concat('%', #{keywords}, '%')
	</select>
	<select id="getUserInfo" resultType="com.template.app.dto.UserDto">
		SELECT
            id, salt, nick_name, password, create_time, update_time, delete_flag
		FROM user
		WHERE id = #{userId}
	</select>

</mapper>